body {
    background-color: #f4f4f4;
    text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
    color: darkblue;
}

.main-image {
    width: 400px;
    border-radius: 15px;
    margin: 20px;
    transition: 0.3s;
}

.main-image:hover {
    filter: grayscale(100%);
}